.archive-container .archive-counter {
  text-align: center;
}
.archive-container .archive-title {
  text-align: center;
}
.archive-container .archive-post {
  text-align: center;
}
.archive-container .archive-post .post-title {
  padding: 0;
  margin: 0;
}
