.reward {
  margin: 1em auto;
  width: 90%;
  text-align: center;
  color: #444;
}
.reward .qr {
  text-align: center;
}
.reward .qr div {
  padding: 0.5em;
  display: inline-block;
}
.reward .qr div img {
  width: 10em;
  display: inline-block;
}
.reward .qr div span {
  display: block;
}
.reward .liker {
  position: relative;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.reward .liker .liker-canvas {
  position: absolute;
  width: 90%;
  margin: 0 5%;
  top: -23em;
}
.reward .liker span {
  font-family: monospace;
  color: #f92a82;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.reward .liker .btn {
  width: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -10%);
  -moz-transform: translate(-50%, -10%);
  -o-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  background-color: #ff4d80;
  color: #fff;
  outline: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 3px 10px #f92a82;
  box-shadow: 0 3px 10px #f92a82;
}
.post .post-header {
  text-align: center;
}
.post .post-header .post-title-simple {
  margin: 0;
}
.post .post-header .post-title .post-title-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom: none;
  color: #26272b;
}
.post .post-header .post-title .post-title-link::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: #26272b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.post .post-header .post-title .post-title-link:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.post .post-header .post-title .post-title-link:active {
  top: 0.1em;
}
.post .post-header .post-meta span {
  margin: 0 0.1em;
}
.post .post-main a.headerlink {
  border: none;
}
.post .post-main a.headerlink:hover {
  border: none;
}
.post .post-main a.headerlink:active {
  top: 0;
}
.post .post-main a.headerlink::before {
  content: "#";
  margin-right: 0.3em;
}
.post .post-footer {
  text-align: center;
}
.post .post-footer .post-tags .post-tag {
  margin: 0.5em;
  display: inline-block;
  background: #ff2a2a;
  border: 0.1em solid #f5c6cb;
  padding: 0.15em;
  line-height: 1.2em;
}
.post .post-footer .post-tags .post-tag:nth-child(2n) {
  background: #37cf38;
  border: 0.1em solid #c3e6cb;
}
.post .post-footer .post-tags .post-tag:nth-child(3n) {
  background: #33aaef;
  border: 0.1em solid #b8daff;
}
