.header {
  padding-bottom: 3em;
  margin-bottom: 0;
  background: #33363b;
  color: #eee;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1em;

    .header-title {
      text-align: left;
      width: 50%;
      word-wrap: break-word;
      flex: 1 0 auto;
      color: #eee;

      a {
        color: #eee;
        text-decoration: none;
        border-bottom: none;

        &:hover {
          color: #eee;
          border-bottom: none;
        }

        &:active {
          top: 0;
        }
      }

      .title {
        font: bold 2em Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
        margin: 0 0 0.5em 0;
      }

      .subtitle {
        font: italic 1.5em Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif, "Roboto Slab", "Noto Serif", "Noto Serif CJK", Georgia, "Times New Roman", serif;
        margin: 0.5em 0 0 0;
      }
    }

    .logo {
      text-align: right;
      width: 50%;
      flex: 1 0 auto;

      img {
        display: inline-block;
        max-width: 22em;
        width: 100%;
      }
    }
  }


  @media (max-width: 40em) {
    .header-container {
      flex-direction: column-reverse;

      .header-title {
        text-align: center;
        width: auto;
      }

      .logo {
        text-align: center;
        width: auto;
      }
    }
  }
}


.main {
  font: 16px Roboto, "Noto Sans", "Noto Sans CJK", Helvetica, Arial, sans-serif;
  margin-top: 0 - 2.6em;

  .main-container {
    width: auto;
    background: #eee;
    box-sizing: border-box;
    box-shadow: 0 0.5em 1em 0.5em rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0;

    .content {
      flex: 1 0 auto;
      width: 75%;

      .post-panel {

        .post-head {

          .post-title {
            text-align: center;

            h1 {
              margin-top: 0;
              margin-bottom: 0.66em;

            }
          }

          .post-meta {

            text-align: center;

            .post-date {

            }

            .post-meta-divider {

            }

            .post-categories {

            }

            .post-comment-count {
            }

          }
        }

        .post-body {

          .post-index {
            text-align: center;

            .post-read-more {

            }
          }

          .post-post {

            img {
              width: 100%;
            }
          }

          .post-posts {
            text-align: center;
          }

          .post-category {

          }

          .post-tag {
            text-align: center;
          }

          .post-tags {
            text-align: center;
            padding: 20px 20px 30px 20px;
            color: #8e0000;


            a {
              padding: 3px;
              display: inline-block;
              white-space: nowrap;
            }

            a.tag-size0 {
              padding: 1px;
              font-size: 5px;
              color: #428BCA;

              &:hover {
                color: #E89718;
              }
            }

            a.tag-size1 {
              padding: 4px;
              font-size: 34px;
              color: #8e0150;

              &:hover {
                color: #316328;
              }
            }

            a.tag-size2 {
              padding: 7px;
              font-size: 15px;
              color: #000080;

              &:hover {
                color: #813728;
              }
            }

            a.tag-size3 {
              padding: 2px;
              font-size: 30px;
              color: #D9534F;

              &:hover {
                color: #113728;
              }
            }

            a.tag-size4 {
              padding: 5px;
              font-size: 15px;
              color: #eea236;

              &:hover {
                color: #E45728;
              }
            }

            a.tag-size5 {
              padding: 8px;
              font-size: 20px;
              color: #B433FF;

              &:hover {
                color: #B41147;
              }
            }

            a.tag-size6 {
              padding: 10px;
              font-size: 22px;
              color: #00ABA9;

              &:hover {
                color: #E19828;
              }
            }

            a.tag-size7 {
              padding: 13px;
              font-size: 26px;
              color: #0003A9;

              &:hover {
                color: #E13048;
              }
            }

            a.tag-size8 {
              padding: 11px;
              font-size: 22px;
              color: #00ABA9;

              &:hover {
                color: #843728;
              }
            }

            a.tag-size9 {
              padding: 12px;
              font-size: 18px;
              color: #0019A9;

              &:hover {
                color: #E13858;
              }
            }

          }


        }

        .post-footer {
          text-align: center;

          a {
            text-decoration: none;
          }

          .post-label {
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 3em;
          }
        }
      }

      .post-pagination {
        text-align: center;
        margin-top: 0;
      }

      size: 1ch;

      .reward {
        text-align: center;
        margin-bottom: 1em;

        .reward-comment {
          margin-bottom: 1em;
        }

        .reward-body {
          .reward-qr {
            text-align: center;
          }
        }
      }

      .content-404 {
        background: url("/images/404.jpg");
        width: 100%;
        padding: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;

        .content-span {
          text-align: center;
          padding-top: 34%;
        }

      }
    }
  }

  .sidebar {
    background: #eee;
    flex: 1 0 auto;
    width: 25%;
    padding: 0;
    word-wrap: break-word;

    .sidebar-item {
      margin: 1em;
    }

    .info {
      text-align: center;

      .author-avatar {
        width: 66%;
        display: block;
        margin: 1em auto;
        border: 0.3em solid white;
        border-radius: 50%;
        box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
        transition: 1s ease-in-out;
      }

      .author-name {
        color: #26272b;
        font-size: 1.8em;
        font-weight: normal;
        margin: 0.5em 0;
      }

      .author-description {
        color: #444;
        font-size: 1.2em;
        font-weight: normal;
        margin: 0.5em 0;
      }

      .site-count {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1em 0;
        text-align: center;
        font-size: 1em;

        div.count-block {
          flex: 1 0 auto;
          border-left: 0.05em #666 solid;
          border-right: 0.05em #666 solid;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }

        .site-count-title {
          margin: 0;
          font-size: 1.2em;
        }
      }

      .rss {
        margin: 1em 0;
        padding: 0;

        .rss-link {
          color: #fff;
          background-color: #ff2a2a;
          display: block;
          text-align: center;
          padding: 0.2em;

          .rss-icon {
            font-size: 1.5em;
          }
        }

        &:hover {

        }
      }
    }


    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding-bottom: 1em;

      hr {
        width: 100%;
        margin: 0 auto;
        border: 0;
        height: 4px;
        background: #333;
        background-image: linear-gradient(to right, red, #333, rgb(9, 206, 91));
      }
    }

    @media (max-width: 60em) {
      width: 100%;
      .sidebar-item {
        text-align: center;

        ul {
          padding: 0;

          li {
            display: inline-block;
            margin: 0.5em 1em;
          }
        }

        .toc {
          text-align: left;
          display: inline-block;
        }
      }
      .sidebar-sticky {
        position: static;
      }
    }

  }

  @media (max-width: 60em) {
    .main-container {
      flex-direction: column;

      .content {
        width: 100%;
      }
    }
  }

}


.footer {
  background: #33363b;
  color: #eee;
  margin-top: 1.5em;

  .footer-container {
    width: auto;
    word-wrap: break-word;
    line-height: 2em;
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;

    .footer-left {
      flex: 1 0 auto;
      text-align: left;
      width: 50%;
    }

    .footer-right {
      flex: 1 0 auto;
      text-align: right;
      width: 50%;

      .custom-info {
        width: 100%;
        word-wrap: break-word;
      }
    }
  }

  a {
    position: relative;
    color: #ddd;
    text-decoration: none;
    border-bottom: 0.05em dotted #ddd;
    transition: 0.3s ease-in-out;

    &:hover {
      color: white;
      border-bottom: 0.05em solid white;
    }

    &:active {
      top: 0.1em;
    }
  }

  .back-to-top {
    display: block;
    text-align: center;

    button {
      border: none;
      outline: 0;
      background: #ccc;
      color: #666;
      overflow: hidden;
      display: inline-block;
      margin: 0 auto;
      padding: 0 0.7em;
      cursor: pointer;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      font-size: 2em;

      .back-to-top-i {
        font-size: 33px;
      }

      &:hover {
        color: #3366ee;
      }
    }

  }

  @media (max-width: 40em) {
    .footer-container {
      flex-direction: column-reverse;
      align-items: stretch;

      .footer-left {
        text-align: center;
        width: auto;
      }

      .footer-right {
        text-align: center;
        width: auto;
      }
    }
  }
}

