// @import "node_modules/tailwindcss/base";
// @import "node_modules/tailwindcss/components";
// @import "node_modules/tailwindcss/utilities";

.h-entry{
    .p-name{
        margin: 1.618em 0 1em;
        font-size: 2em;
        font-weight: bold;
    }
    .p-summary{
        text-align: center;
    }
    .e-content{
        margin-top: 5em !important;
    }
}

.hidden {
    display: none;
}

.hover\:block:hover {
    display: block;
}